- attributes("title") = "ExtJs 树形控件:  分页"
- attributes("headline") = "ExtJs 树形控件:  分页"

script(type = "text/javascript" src  = "/js/bigtree.js")
:javascript
  Ext.BLANK_IMAGE_URL = '/lib/ext-2.3.0/resources/images/default/s.gif';
  
h1 中国行政区划

#tree-ct