<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5"> 
    <description></description>
    <display-name></display-name>

    <!-- Define servlet-mapped and path-mapped example filters -->

    <!--
	<context-param>
		<param-name></param-name>
		<param-value></param-value>
	</context-param>
	-->
    <!-- Define example application events listeners -->
    <!--
    <listener>
        <listener-class>ContextListener</listener-class>
    </listener>
    -->

    <!-- Define servlets that are included in the example application -->
    <!--
    <servlet>
      <servlet-name>servlet</servlet-name>
      <servlet-class>servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servlet</servlet-name>
        <url-pattern>/servlet</url-pattern>
    </servlet-mapping>
    -->
    <error-page>
        <error-code>404</error-code>
        <location>/common/404.jsp</location>
    </error-page>

</web-app>
