.ensime
.project
.classpath

target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/target/

.target/
.cache

out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

.scala_dependencies

reports/

sbtang.sublime-project
